VITE_SUPABASE_URL=https://fcmkbyeffrlncrpdrdbb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjbWtieWVmZnJsbmNycGRyZGJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2NDM1NTksImV4cCI6MjEwMTIxOTU1OX0._VY6Bv21Teq553X9ENWlw05MeEC8kz1ubZkGqELpIbA
